@page
@model MascotaFeliz.App.Frontend.Pages.ConsultarVetModel
@{
    ViewData["Title"] = "Consultar Veterinario";
}

@section Consultar
{
<div id="consultar" class="container py-3 mt-3 animate__animated animate__fadeIn">
    <div class="p-3 pb-md-4 mx-auto border-bottom">
        <h3 class="fw-bolder mb-0  text-center">Consultar Veterinario</h3>
        <p class="fs-6 lead  text-center">En esta sección podrás consultar la información de los veterinarios</p>

        <form class="row gy-2 gx-3 align-items-end clss-form" method="get">
            <div class="col">
                <label for="nombres" class="form-label mb-0">Nombres</label>
                <input type="text" class="form-control" id="nombres" asp-for="Veterinario.Nombres"
                    placeholder="Ingresar Nombre">
            </div>

            <div class="col">
                <label for="apellidos" class="form-label mb-0">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" asp-for="Veterinario.Apellidos"
                    placeholder="Ingresar apellidos">
            </div>

            <div class="col">
                <label for="tarjetaProfesional" class="form-label mb-0">Tarjeta Profesional</label>
                <input type="text" class="form-control" id="tarjetaProfesional" asp-for="Veterinario.TarjetaProfesional"
                    placeholder="Ingresar tarjeta profesional">
            </div>
            <button class="btn btn-primary py-2" type="submit" data-toggle="tooltip" data-placement="top"
                title="Consultar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button class="btn btn-primary py-2 mx-2" asp-page="../Veterinario" data-toggle="tooltip"
                data-placement="top" title="Nuevo">
                <i class="fa-sharp fa-solid fa-plus"></i>
            </button>
        </form>
    </div>
    <main>
        <div class="table-responsive mt-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Tarjeta Profesional</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var veterinario in Model.veterinarios)
                    {
                    <tr>
                        <td>@veterinario.Nombres @veterinario.Apellidos</td>
                        <td>@veterinario.Direccion</td>
                        <td>@veterinario.Telefono</td>
                        <td>@veterinario.TarjetaProfesional</td>
                        <td>
                            <a class="btn btn-primary" asp-page="../Veterinario"
                                asp-route-veterinarioId="@veterinario.Id" data-toggle="tooltip" data-placement="top"
                                title="Editar">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                        <td>
                            <form method="get">
                                <input type="hidden" asp-for="@veterinario.Id" name="idVeterinario" />
                                <button type="submit" class="btn btn-danger" title="Eliminar">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </main>

</div>
}